In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, clear_output

In [3]:
csv = pd.read_csv('./height_width.csv')
csv

                                       image_id  height  width
0              000434271f63a053c4128a0ba6352c7f    2836   2336
1      000434271f63a053c4128a0ba6352c7f_flipped    2836   2336
2              00053190460d56c53cc3e57321387478    2430   1994
3      00053190460d56c53cc3e57321387478_flipped    2430   1994
4              0005e8e3701dfb1dd93d53e2ff537b6e    3072   3072
...                                         ...     ...    ...
29995  ffeffc54594debf3716d6fcd2402a99f_flipped    2944   2464
29996          fff0f82159f9083f3dd1f8967fc54f6a    2500   2048
29997  fff0f82159f9083f3dd1f8967fc54f6a_flipped    2500   2048
29998          fff2025e3c1d6970a8a6ee0404ac6940    2150   1994
29999  fff2025e3c1d6970a8a6ee0404ac6940_flipped    2150   1994

[30000 rows x 3 columns]

In [4]:
new_rows = np.c_[(csv['image_id']+'_inverted').values, csv.values[:, 1:]]
csv = csv.append(pd.DataFrame(new_rows.tolist(), columns=csv.columns), ignore_index=True)
csv

                                                image_id  height  width
0                       000434271f63a053c4128a0ba6352c7f    2836   2336
1               000434271f63a053c4128a0ba6352c7f_flipped    2836   2336
2                       00053190460d56c53cc3e57321387478    2430   1994
3               00053190460d56c53cc3e57321387478_flipped    2430   1994
4                       0005e8e3701dfb1dd93d53e2ff537b6e    3072   3072
...                                                  ...     ...    ...
59995  ffeffc54594debf3716d6fcd2402a99f_flipped_inverted    2944   2464
59996          fff0f82159f9083f3dd1f8967fc54f6a_inverted    2500   2048
59997  fff0f82159f9083f3dd1f8967fc54f6a_flipped_inverted    2500   2048
59998          fff2025e3c1d6970a8a6ee0404ac6940_inverted    2150   1994
59999  fff2025e3c1d6970a8a6ee0404ac6940_flipped_inverted    2150   1994

[60000 rows x 3 columns]

In [ ]:
csv.to_csv('augmented_train.csv', index=False)